/* .logo {
    width: 120px;
}

nav {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 7%);
}

.nav_right {
    justify-content: space-around;
}

@media (min-width: 576px){
    .logo {
        width: 140px;
    }
}

@media (min-width: 768px){
    .logo {
        width: 134px;
    }
}

@media (min-width: 1024px){
    .logo {
        width: 164px;
    }
} */

/* .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
} */
